{
    "socketPath": "/var/run/docker.sock",
    "clearUntagged": true,
    "images": [
        {
            "name": "ids/d2db",
            "onlyLatest": true
        },
        {
            "name": "ids/d2",
            "removePrefix": "test_",
            "keep": 3
        }
    ]
}
